@import "variables";

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  clear: both;

  .scoreboard-score {
    margin-left: 1.7rem;
  }

  .scoreboard-timer {
    margin-right: -0.5rem;
  }

  .badge {
    font-family: $font-stack;
    font-weight: $font-weight-max;
    font-style: italic;
    font-size: 26px;
    color: $dark-green;
    margin: 40px 0 0 -30px;
    padding: -10px 0;
  }
}
