<<<<<<< HEAD
@import "variables";
@import "mixins";

.score {
  float: left;
  margin-left: 1.5rem;

  .leader, span.scoreboard {
    margin: 5px 0 0 15px;
  }
}
=======
@import "variables";
@import "mixins";

.score {
  float: left;
  margin-left: 1.5rem;

  .leader, span.scoreboard {
    margin: 5px 0 0 15px;
  }
}
>>>>>>> 04dcb5efb6b2836cacafa7226bfba6be16e79305
